
*.xcbkptlist

EstonianWeather.xcodeproj/project.xcworkspace/xcuserdata/
EstonianWeather.xcodeproj/xcuserdata/

*.xcuserstate

fastlane/report.xml

EstonianWeather.ipa

EstonianWeather.app.dSYM.zip

fastlane/Preview.html



EstonianWeather/Supporting Files/Assets.xcassets/.DS_Store
