
*.xcbkptlist

EstonianWeather.xcodeproj/project.xcworkspace/xcuserdata/andriusshiaulis.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

fastlane/report.xml

EstonianWeather.ipa

EstonianWeather.app.dSYM.zip
